*.swp
.metadata
*/.metadata
*/.swp
/RemoteSystemsTempFiles
*/core
*/Release
*/.settings
*/.project
*/.cproject
*/.ino.cpp
*~
*.settings
*.project
*.cproject
*.ino.cpp
*.metadata
*.swp

*/Visual Micro
*/*.sdf
*/*.suo
*/*.vcxproj
*/*.filters
*/*.opensdf
*/*.sln
*/build/
*/spec.d
*~
Release/*

/Release/
spec.d
